<% content_for :header do %>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'simplegrid' %>
  <%= stylesheet_link_tag 'app' %>
  <%= stylesheet_link_tag 'pizza' %>
  <%= stylesheet_link_tag 'component' %>
  <%= javascript_include_tag 'custom.modernizr' %>
<% end %>
<div id="wrapper">  
  <div id="left"><!-- LEFT PART -->
    <div id="sidebar"><!-- SIDEBAR -->
      <div id="sidebar-cover"></div>
      <div id="sidebar-content">
         <div class="content">
          <%= image_tag(current_user.picture.url(:thumb)) %><br>
          <span class="user-name" id="user" data-id=""></span>
          <div><span class="follow-number" id="nb_followers">0</span> followers</div>
          <div><span class="follow-number" id="nb_following">0</span> following</div>
         </div>
         <div class="content" id="badges">
          <h3>Derniers badges</h3>
          <div id="display_badges" data-allbadges=0></div>
          <p><a href="user/"> >> Voir tous mes badges</a></p>
         </div>
         <div class="content">
          <h2>Mon activité</h2>
          <div><span class="follow-number" id="count">0</span> pages bookées</div>
          <a href="user/" class="view-profile">Consulter le profil complet</a>
         </div>
      </div>
    </div><!-- END SIDEBAR -->
  </div><!-- END LEFT PART -->

  <div id="right"><!-- RIGHT PART -->
    <div class="grid grid-pad" id="top-content"><!-- GRID LOGO/SEARCH/MENU -->
      <div class="col-7-12" id="logo"><!-- LOGO AND SEARCHBAR -->
          <h1><a href="dashboard/"><img src="img/logo_nabu.svg" alt="Nabu"></a></h1>
          <div id="search">
            <form action="users/search" method="post">
            <input type="text" name="name" autocomplete="off" placeholder="Rechercher un ami"><div><img src="img/icons/loupe.svg"  class="icon-search" alt="Rechercher"></div>
            </form>
            <div id="search-results"><ul class="users-result"></ul></div>
          </div>
      </div><!-- END LOGO AND SEARCHBAR -->
      <div class="col-3-12" id="menu"><!-- MENU -->
        <p><a href="user/"><img src="img/icons/user.svg" class="icon-menu" alt="Profil"></a> <a class="md-trigger" data-modal="modal-settings" ><img src="img/icons/settings.svg" class="icon-menu" alt="Paramètres"></a><a href="user/signout"><img src="img/icons/power.svg" class="icon-menu" alt="Déconnexion"></a></p>
      </div><!-- END MENU -->
    </div><!-- END GRID LOGO/SEARCH/MENU -->

    <div class="grid grid-pad"><!-- GRID CONTENT -->
      <div class="col-7-12"><!-- CENTRAL COLUMN -->
         <div class="content" id="new-post"><!-- NEW POST -->
            <img src="img/PP_large_2.png" class="avatar-50" alt="">
            <div>
              <form name="post-article" id="post_article" method="post">
              <input type="url" name="post_url" id="url" placeholder="Insérez une URL pour ajouter un contenu" required><br>
              <div id="form-extended">
                <input type="text" name="post_desc" id="desc" placeholder="Message accompagnant le contenu" required><br>
                <input type="text" name="post_user_id" value=""><br>
                <input type="submit" value="Publier">
              </div>
          </form>
       </div>
       </div><!-- END NEW POST -->
       <div class="content"><!-- FEED -->
          <section id="zone_post">

          </section>
         </div><!-- END FEED -->
      </div><!-- END CENTRAL COLUMN -->

      <div class="col-3-12"><!--  RIGHT COLUMN -->
        <div class="content">
          <h2>Suggestions</h2>
          <h3><img src="img/icons/users_suggestions.svg" class="icon-titles" alt="">Utilisateurs</h3>
          <a href="#" id="suggest_follows_button"><img src="img/icons/sync.svg" class="icon-sync" alt=""></a>
          <div id="suggest_follow">
          </div>
          <h3><img src="img/articles.png" class="icon-titles" alt="">Articles</h3>
          <a href="#" id="suggest_articles_button"><img src="img/icons/sync.svg" class="icon-sync" alt=""></a>
          <div class="suggestion-article-wrapper">
            <div id="suggest_articles">
            </div>
          </div>
         </div> <!-- END CONTENT SUGGESTIONS -->
         <div class="content"><!-- CONTENT OBJECTIVES -->
          <h2>Objectifs<a href="#"><img src="img/icons/sync.svg" class="icon-sync" alt=""></a></h2>
          <div class="obj-progress"><img src="img/PP_large.png" class="avatar-35" alt=""> 
          <div class="obj-progressbar"><span style="width: 25%"></span></div>
          <img src="img/badge.png" class="icon-35" alt="Badge description"></div>
          <p>Machin a relevé le défi :<br>
          <a href="#">Devenir Gamewatcher</a></p>
         </div><!-- END CONTENT OBJECTIVES -->
      </div><!-- END RIGHT COLUMN -->
    </div><!-- END GRID CONTENT -->
  </div><!-- END RIGHT PART -->
</div>

<!--popup settings : html popup + scripts-->


<div class="md-modal md-effect-10" id="modal-settings">
  <div class="md-content">
    <h3>Modifiez vos infos</h3>
    <div>
      <button class="md-close">Close me!</button>
    </div>
  </div>
</div>

<div class="md-overlay"></div><!-- the overlay element -->

<div id="test"></div>
<script>
  // this is important for IEs
  var polyfilter_scriptpath = 'javascripts/';
</script>
<% content_for :footer do %>
  <%= javascript_include_tag 'cssParser' %>
  <%= javascript_include_tag 'css-filters-polyfill' %>
  <%= javascript_include_tag 'classie' %>
  <%= javascript_include_tag 'modalEffects' %>
  <%= javascript_include_tag 'modernizr.custom' %>
  <%= javascript_include_tag 'http://code.jquery.com/jquery-1.10.2.min.js' %>
  <%= javascript_include_tag 'snap.svg' %>
  <%= javascript_include_tag 'jquery.timeago' %>
  <%= javascript_include_tag 'User' %>
  <%= javascript_include_tag 'UserDashboard' %>
  <%= javascript_include_tag 'nabu' %>

<% end %>