<div class="content list-follow followers">
          <h3 class="c-white">Followers</h3>
          <a href="#" class="close"><img src="<%= root_path %>img/icons/close.png" alt=""></a>
          <ul>
            <% @followers.find_each do |follower| %>
                <li><%= image_tag(follower.picture.url(:thumb), :class => "avatar-30") %><a href="/users/<%= follower.username %>"><%= follower.username %></a></li>
             <% end %>
          </ul>
         </div>
         <div class="content list-follow following">
          <h3 class="c-white">Followings</h3>
          <a href="#" class="close"><img src="<%= root_path %>img/icons/close.png" alt=""></a>
          <ul>
            <% @followings.find_each do |following| %>
                <li><%= image_tag(following.picture.url(:thumb), :class => "avatar-30") %><a href="/users/<%= following.username %>"><%= following.username %></a></li>
             <% end %>
          </ul>
         </div>