<h1>Create a new post!</h1>

<%= form_for :post, url: "/posts" do |f| %>
  <p>URL : <%= f.text_field :url %></p>
  <p>Decription : <%= f.text_field :content %></p>
  <p>#<%= f.text_field :hashtag %></p>
  <%= f.submit "Envoi" %>
<% end %>

<h2>Liste des posts</h2>
<% @posts.each do |post| %>
	<p>
		<%= post.user.username %> : <%= link_to post.content, post %> # <%= link_to post.hashtag.name, post %>  |  <%= link_to post.url, post.url %> <br>
		Il y a <%= time_ago_in_words(post.created_at) %>
	</p>
<% end %>