<% @posts.find_each do |post| %>
  <div class="post-feed clearfix">
    <div class="post-feed-inner clearfix">
      <div class="post-feed-content col-2-12">
        <a href="/users/<%= post.user.username %>" class="clearfix"><%= image_tag(post.user.picture.url(:thumb), :class => "avatar-50 avatar-feed") %></a>
        <a href="#" class="js-bookmark bookmark" data-id="<%= post.id %>" data-state="<% (post.bookmarks_users.include?(@current_user)) ? ( %>1<% ) :( %>0<% ) %>">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="js-fav fav <% (post.bookmarks_users.include?(@current_user)) ? ( %>remove-fav<% ) :( %>add-fav<% ) %>"><g id="star"><polygon points="12,17.273 18.18,21 16.545,13.971 22,9.244 14.809,8.627 12,2 9.191,8.627 2,9.244 7.455,13.971 5.82,21 "></polygon></g></svg>
        </a>
        <a href="#" class="js-repost repost" data-id="<%= post.id %>" data-state="<% (post.reposts_users.include?(@current_user)) ? ( %>1<% ) :( %>0<% ) %>">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="js-repost-icon repost-icon <% (post.reposts_users.include?(@current_user)) ? ( %>undo-repost<% ) :( %>do-repost<% ) %>" xml:space="preserve">
          <path  style="-webkit-transform: scale(0.05); transform: scale(0.05);" d="M256,50C142.229,50,50,142.229,50,256c0,113.771,92.229,206,206,206s206-92.229,206-206
            C462,142.229,369.771,50,256,50z M148.992,343.993v-123.68H116.92l50.057-50.307l50.311,50.307h-31.526v86.911h82.142l36.768,36.769
            H148.992z M347.023,343.626l-50.31-50.31h31.489v-86.541h-82.156l-36.768-36.769h155.691v123.31h32.109L347.023,343.626z"/>
          </svg>
        </a>
      </div>
      <div class="post-feed-content col-9-12">
        <a href="/users/<%= post.user.username %>" class="name"><%= post.user.username %></a> - Il y a <%= time_ago_in_words(post.created_at) %><br>
        <%= link_to post.content, post, :class => "post-desc" %> <%= link_to post.url, post.url, :class => "post-url" %>
        <% if post.hashtag.name.length > 0 %>
          <a href="<%= root_path %>search?q=%23<%= post.hashtag.name %>" class="post-hash">#<%= post.hashtag.name %></a><br>
        <% end %>
        <%= link_to "Permalien",  post, :class => "label label--permalink"  %>
      </div>
    </div>
  </div>
<% end %>