
<div class="post-feed single-view col-10-12">
  <div class="post-feed-inner clearfix">
  	<div class="post-feed-content col-1-12">
  		<a href="/users/<%= @post.user.username %>" class="clearfix"><%= image_tag(@post.user.picture.url(:thumb), :class => "avatar-50 avatar-feed") %></a>
      <a href="#" class="js-bookmark bookmark" data-id="<%= @post.id %>" data-state="<% (@post.bookmarks_users.include?(@target_user)) ? ( %>1<% ) :( %>0<% ) %>">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="js-fav fav <% (@post.bookmarks_users.include?(@target_user)) ? ( %>remove-fav<% ) :( %>add-fav<% ) %>"><g id="star"><polygon points="12,17.273 18.18,21 16.545,13.971 22,9.244 14.809,8.627 12,2 9.191,8.627 2,9.244 7.455,13.971 5.82,21 "></polygon></g></svg>
        </a>
  	</div>
  	<div class="post-feed-content col-9-12">
  		<a href="/users/<%= @target_user.username %>" class="name"><%= @post.user.username %></a> - Il y a <%= time_ago_in_words(@post.created_at) %><br>
    	<div class="post-desc"><%= @post.content %> </div> 
    	<%= link_to @post.url, @post.url, :class => "post-url" %> <a href="<%= root_path %>search?q=%23<%= @post.hashtag.name %>" class="post-hash">#<%= @post.hashtag.name %></a> <br>
	    <div>
      <% if @apercu_ok %>
        <%  if @apercu.images.first %>
  	      <%= link_to image_tag(@apercu.images.first.src.to_s, :alt =>  @apercu.title, :class =>"res centered post-picture"), @post.url, :class => "post-desc" %>
        <% end %>
      <% end %>
	    </div>
      <% if @target_user == @post.user %>
    	  <%= link_to "Supprimer",  @post, :method => :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce post ?' }, :class => "label label--delete"  %>
      <% end %>
    </div>
  </div>
</div>
