
<div class="post-feed single-view col-10-12">
<% object = LinkThumbnailer.generate(@post.url) %>
  <p><a href="#" class="name"><%= image_tag(current_user.picture.url(:thumb), :class => "avatar-50 avatar-feed") %><%= @post.user.username %></a> - Il y a <%= time_ago_in_words(@post.created_at) %><br>
    <%= link_to @post.content, @post %> <%= link_to @post.url, @post.url %> #<%= link_to @post.hashtag.name, @post %> <br>
    <div>
                  <%= object.title %>
                  <%= object.description %>
                  <%= image_tag(object.images.first.src.to_s) %>
                </div>
    <%= link_to "Supprimer",  @post, :method => :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce post ?' }, :class => "label label--delete"  %>
  </p>
</div>
