<h1>Posté par <%= @post.user.username %></h1>
<p>URL : <%= @post.url %> // <%= @post.content %> </p>
<p><%= @post.hashtag.name %></p>
<small><%= link_to "Supprimer",  @post, :method => :delete  %></small>