
<div class="post-feed single-view col-10-12">
<% object = LinkThumbnailer.generate(@post.url) %>
  <div class="post-feed-inner clearfix">
  	<div class="post-feed-content col-1-12">
  		<a href="#" class="clearfix"><%= image_tag(current_user.picture.url(:thumb), :class => "avatar-50 avatar-feed") %></a>
  	</div>
  	<div class="post-feed-content col-9-12">
  		<a href="#" class="name"><%= @post.user.username %></a> - Il y a <%= time_ago_in_words(@post.created_at) %><br>
    	<%= link_to @post.content, @post, :class => "post-desc" %> <%= link_to @post.url, @post.url, :class => "post-url" %> <a href="<%= root_path %>search?q=%23<%= @post.hashtag.name %>" class="post-hash">#<%= @post.hashtag.name %></a> <br>
      <div>
        <%= object.title %>
        <%= object.description %>
        <%= image_tag(object.images.first.src.to_s) %>
      </div>
    	<%= link_to "Supprimer",  @post, :method => :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce post ?' }, :class => "label label--delete"  %>
    </div>
  </div>
</div>
