<!DOCTYPE html>
<html>
<head>
  <title>Nabu</title>
  <%= stylesheet_link_tag 'style' %>
  <%= stylesheet_link_tag 'simplegrid' %>
  <%= stylesheet_link_tag 'component' %>
  <%= javascript_include_tag 'custom.modernizr' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :application %>
</head>
<body>
<div id="wrapper" style="background: url('<%= @target_user.background %>') repeat">  
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
  <% end %>

  <div id="left"><!-- LEFT PART -->
    <div id="sidebar"><!-- SIDEBAR -->
      <div id="sidebar-cover">
          <%= image_tag(@target_user.picture.url(:sidebar), :class => "full res blur") %>
      </div>
      <div id="sidebar-content">
         <div class="content">
          <%= image_tag(@target_user.picture.url(:thumb), :class => "avatar-main") %><br>
          <a href="/users/<%= @target_user.username %>" class="user-name"><%= @target_user.username %></a>
          <% if @target_user.description && @target_user.description.size > 1 %>
             <span class="user-description">" <%= @target_user.description %> "</span>
          <% end %>
          <div class="posts-number">
            <a href="/users/<%= @target_user.username %>">
              <span class="follow-number"><%= @nb_posts %></span> posts
            </a>
          </div>
          <div class="bookmarks-number">
            <a href="/users/<%= @target_user.username %>/bookmarks">
              <span class="follow-number"><%= @nb_bookmarks %></span> bookmarks
            </a>
          </div>
          <div id="stats-followers" class="follow-numbers-container"><span class="follow-number" id="nb_followers"><%= @followers.size %></span> followers</div>
          <div id="stats-following" class="follow-numbers-container"><span class="follow-number" id="nb_following"><%= @followings.size %></span> following</div>
          <% if @target_user != @current_user %>
            <div class="follow-container">
              <a href="#" class="js-follow profile-unfollow-button" data-id="<%= @target_user.id %>" data-state="<% (@follows_current_user.include?(@target_user)) ? ( %>0<% ) :( %>1<% ) %>">
                <% (@follows_current_user.include?(@target_user)) ? ( %>Ne plus suivre<% ) :( %>Suivre<% ) %>
              </a>
            </div>
          <% end %>
         </div>
          <%= render partial: "partial/follow" %>
      </div>
    </div><!-- END SIDEBAR -->
  </div><!-- END LEFT PART -->

  <div id="right"><!-- RIGHT PART -->
    <div class="grid grid-pad" id="top-content"><!-- GRID LOGO/SEARCH/MENU -->
      <div class="col-7-12" id="logo"><!-- LOGO AND SEARCHBAR -->
          <h1><a href="/"><img src="<%= root_path %>img/logo_nabu.svg" alt="Nabu"></a></h1>
          <div id="search">
            <form action="/search" method="get">
              <input type="text" name="q" autocomplete="off" placeholder="Rechercher">
              <div><img src="<%= root_path %>img/icons/loupe.svg"  class="icon-search" alt="Rechercher"></div>
            </form>
          </div>
      </div><!-- END LOGO AND SEARCHBAR -->
      <div class="col-3-12" id="menu"><!-- MENU -->
        <p>
          <a href="/users/<%= @current_user.username %>">
            <img src="<%= root_path %>img/icons/user.svg" class="icon-menu" alt="Profil">
          </a>
          <a href="/users/edit">
           <img src="<%= root_path %>img/icons/settings.svg" class="icon-menu" alt="Paramètres">
          </a>
          <a href="/users/sign_out">
            <img src="<%= root_path %>img/icons/power.svg" class="icon-menu" alt="Déconnexion">
          </a>
        </p>
      </div><!-- END MENU -->
    </div><!-- END GRID LOGO/SEARCH/MENU -->

    <div class="grid grid-pad"><!-- GRID CONTENT -->
      
       <%= yield %>

    </div><!-- END GRID CONTENT -->
      </div><!-- END RIGHT PART -->
    </div>

    <!--popup settings : html popup + scripts-->


    <div class="md-overlay"></div><!-- the overlay element -->

    <%= javascript_include_tag 'cssParser' %>
    <%= javascript_include_tag 'classie' %>
    <%= javascript_include_tag 'modalEffects' %>
    <%= javascript_include_tag 'modernizr.custom' %>
    <%= javascript_include_tag 'http://code.jquery.com/jquery-1.10.2.min.js' %>
    <%= javascript_include_tag 'snap.svg' %>
    <%= javascript_include_tag 'User' %>
    <%= javascript_include_tag 'UserDashboard' %>
    <%= javascript_include_tag 'nabu' %>

</body>
</html>