<!doctype html>
<html lang="fr">
<head>
  <title>Nabu</title>
  <%= stylesheet_link_tag 'home' %>
  <%= stylesheet_link_tag 'simplegrid' %>
  <%= stylesheet_link_tag 'component' %>
  <%= csrf_meta_tags %>
</head>

<body>

  <header>
      <h1><img src="/img/logo_nabu.svg"/ class="logo-landing"></h1>
    <a class="md-trigger" data-modal="modal-login">Se connecter</a>
  </header>
  
  <div id="banner">
    <div id="bannertext">
      <h1>Voici Nabu</h1>
      <p>Découvrez, partagez, devenez source de curiosité.</p>
        <a class="md-trigger" data-modal="modal-signin">Essayer</a>
    </div>
  </div>

  
</section> <!-- Fin grid pad -->

  
  <article id="team">
    <section class="grid grid-pad">
    
    <h3>L'équipe</h3>
      
    <div class="col-2-12">&nbsp;</div>  
  
      <div class="col-2-12">
        <h4>A.-Sophie Valleray</h4>
        <div id="As"></div>
      </div>

      <div class="col-2-12">
        <h4>Erwan Martin</h4>
        <div id="Erwan"></div>
      </div>
      
      <div class="col-2-12">
        <h4>Lucie Reitz</h4>
        <div id="Lucie"></div>
      </div>

      <div class="col-2-12">
        <h4>Marion Livet</h4>
        <div id="Marion"></div> 
      </div>
      
      
    <div class="col-2-12">&nbsp;</div>
      
    </section>
  </article>
  
  
  <!-- POPUP -->  
    
    <div class="md-modal md-effect-10" id="modal-signin">
      <div class="md-content">
        <h3>Inscrivez-vous</h3>
        <div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

            <%= devise_error_messages! %>

            <% if @errors %>
              <%= @errors.map { |msg| content_tag(:p, msg) }.join %>
            <% end %>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, required: true, :class => "form-field--wlabel form-field" %>
            </div>

            <div class="field">
              <%= f.label :username %>
              <%= f.text_field :username, :class => "form-field--wlabel form-field" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> caractères au minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", required: true, :class => "form-field--wlabel form-field" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off", required: true, :class => "form-field--wlabel form-field" %>
            </div>

            <div class="actions align-center">
              <%= f.submit "S'inscrire", :class => "form-field" %>
            </div>
          <% end %>
          <button class="md-close hidden">Close me!</button>
        </div>
      </div>
    </div>

    <div class="md-modal md-effect-10" id="modal-login">
      <div class="md-content">
        <h3>Identifiez-vous</h3>
        <div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, required: true, :class => "form-field--wlabel form-field" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", required: true, :class => "form-field--wlabel form-field" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, :class => "auto" %>
              </div>
            <% end -%>

            <div class="actions align-center">
              <%= f.submit "Se connecter", :class => "form-field" %>
            </div>
          <% end %>
                    
          <button class="md-close hidden">Close me!</button>
        </div>
      </div>
    </div>
  

  
<div class="md-overlay"></div><!-- the overlay element -->

<script>
  // this is important for IEs
  var polyfilter_scriptpath = '/js/';
</script>

<%= javascript_include_tag 'cssParser' %>
<%= javascript_include_tag 'css-filters-polyfill' %>
<%= javascript_include_tag 'classie' %>
<%= javascript_include_tag 'modalEffects' %>
<%= javascript_include_tag 'modernizr.custom' %>
<%= javascript_include_tag 'https://code.jquery.com/jquery-1.10.2.min.js' %>
<%= javascript_include_tag 'main' %>
  
</body>

</html>
